<header class="header">
<div class="header-inner">
    <h1 class="logo">
        <a href="/">Notion CMS</a>
    </h1>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="/">ホーム</a></li>
            <li><a href="/service">サービス</a></li>
            <li><a href="/contact">お問い合わせ</a></li>
        </ul>
    </nav>
</div>
</header>